@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --color-background: #e5e5e5;
  --color-primary: #2196f3;
  --color-secundary: #2f303a;
  --color-text: #212121;
  --color-text-contact: #757575;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #fff;
  color: var(--color-text);
  font-size: 14px;
  height: 2;
  font-weight: 400;
  box-sizing: border-box;
}
html {
  width: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Raleway';
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}
li {
  list-style: none;
}
.buttons-item .buttons-item-button {
  font-size: 16px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list-items {
  box-sizing: inherit;
  padding-left: 70px;
}

.navigation-list-items-item {
  color: var(--color-text);
  text-decoration: none;
}
.navigation-list-items-item:hover,
.navigation-list-items-item:focus {
  color: var(--color-primary);
}
.dataright {
  display: flex;
}
.dataright-item {
  margin-right: 5rem;
}
.dataright-item-email {
  color: var(--color-text-contact);
}
.dataright-item-phone {
  color: var(--color-text-contact);
}
.dataright-item-email:hover,
.dataright-item-email:focus {
  color: var(--color-primary);
}
.dataright-item-phone:hover,
.dataright-item-phone:focus {
  color: var(--color-primary);
}
.buttons-item-button {
  cursor: pointer;
  color: var(--color-text);
  border-radius: 10x;
}
.buttons-item-button:hover,
.buttons-item-button:focus {
  background-color: var(--color-primary);
  transform: scale(1.1);
  color: #fff;
}
.filter-portfolio {
  visibility: hidden;
}

.section-primary {
  background-color: var(--color-secundary);
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-primary h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  width: 43.5%;
  text-align: center;
}
.section-primary .buttons-item-button-index {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 261px;
}
.container-list {
  display: flex;
  justify-content: space-between;
}
.container-list li {
  width: 270px;
}
.container h2 {
  text-align: center;
}
.container-image {
  display: flex;
  justify-content: space-between;
}
.image-description {
  font-size: 18px;
  font-weight: 700;
  height: 2;
}
.container-team {
  display: flex;
  justify-content: space-between;
}
.text-description {
  line-height: 1.875;
  color: var(--color-text-contact);
  font-size: 16px;
  font-weight: 400;
}
.footer {
  background-color: var(--color-secundary);
}
.footer .icon {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 26;
  font-weight: 700;
}

.footer-direction {
  color: #fff;
  text-decoration: none;
}
.footer-mail {
  color: var(--color-text-contact);
  text-decoration: none;
}
.footer-phone {
  color: var(--color-text-contact);
  text-decoration: none;
}
